# Python-specific ignores
**/__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
build/

# Egg-info directories 
*.egg-info/
**/*.egg-info/
*.egg

# Project specific ignores
dist/

# IDE-specific files
.vscode/
.idea/

# Miscellaneous
**/*.patch
*.log
.DS_Store
